.container-primary-products{
    padding-top: 30px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 95vh;
}

.container-filter-products{
    width: 20%;
    display: flex;
    flex-direction: column;
    height: max-content;
    padding: 10px;
    background-color: chocolate;
}

.container-principal-list-products{
    width: 100%;
}

.container-div-link-to-create-products{
    text-align: center;
    padding: 10px;
}

.container-div-link-to-create-products a{
    text-decoration: none;
    font-size: 1.2em;
    color: #000;
    font-style: italic;
    color: rgb(24, 96, 251);
}
.container-list-products{
    padding: 10px;
    flex: 1;
    display: grid;
    grid-template-columns: auto auto auto;
    overflow-y: auto;
    column-gap: 10px;
    row-gap: 30px;
    justify-content: space-around;
}

.box-card-product{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(24, 96, 251);
    max-width: 300px;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #777;
}



.box-card-product div{
    padding: 10px;
}

.box-inner{
    display: flex;
    justify-content: center;
}



.box-card-product .box-inner img{
    width: 250px;
    height: 250px;
}

.box-offerter{
    text-align: center;
}

.box-offerter button{
    padding: 10px;
    border: 1px solid #f5f5f5;
    width: 50%;
    font-weight: bold;
    border-radius: 10px;
    letter-spacing: 2px;
    transition-property: box-shadow,background-color;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

.box-offerter button:hover{
    box-shadow: 0 1px 2px 0 #fff;
    background-color: transparent;

}

.box-offerter{
    width: 100%;
}

@media (max-width: 1200px) {
    .container-list-products{
        grid-template-columns: auto auto;
        row-gap: 75px;
    }
}

@media (max-width: 640px) {
    .container-list-products{
        grid-template-columns: auto;
    }
}