:root{
    --color: rgb(12, 12, 162);
}

   

.container-login{
    min-height: 100vh;
    display: flex;
}

.box-information{
 width: 60%;
 background-color: var(--color);
 display: flex;
 flex-direction: column;
 font-family:Arial, Helvetica, sans-serif;
 position: relative;
}

.div-out-logo-cue{
   
}

.box-information .div-logo-cue{
    padding-top: 10px;
    padding-left: 10px;
    display: block;
}

.div-welcome{
    background-color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.div-welcome div{
    padding: 30px;
    transform: translateY(-50%);
    text-align: center;
   
}

.div-welcome div > *{
    color: #f0f0f0;
    font-size: 4rem;
}


.box-information .div-logo-cue img{
    width: 100px;
    height: 100px;
}

.box-login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-family:tahoma, Verdana, Tahoma, sans-serif;
    background: linear-gradient(to bottom, #f2f0f0, #f0f0f0)
}

.login-form{
    background-color: snow;
    border-radius: 5px;
    width: 350px;
    height: max-content;
    max-height: 500px;
    padding: 20px;
}

.login-form div{
    padding: 10px;
}


.login-form div label{
  height: 20px;
}

.login-form div input{
    height: 25px;
    border-radius: 2px;
    outline: none;
    border: none;
    padding: 5px;
    background-color: rgb(234, 229, 223);
}

.login-form div > *{
    display: block;
    width: 100%;
}


.div-btn-submit-login{
    display: flex;
    justify-content: center;
}

.div-btn-submit-login button{
    width: 50%;
    background-color: rgb(5, 241, 68);
    height: 30px;
    border: none;
    outline: none;
}


@media (max-width: 1000px){
    .box-information{
        width: 50%;
    }
}