.container-detail-myPublication{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}


.container-img-myPublication{
    display: flex;
    height: max-content;
    height: max-content;
    column-gap: 20px;
    justify-content: center;
}

.--render-div{
    background-color:  rgba(24, 96, 251, 0.800);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 5px 0px #bbb;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    width: max-content;
}

.--render-div img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}
.content-render-img-myPublication{
   width: 500px;
}

.--render-div:hover{
    outline: 1px solid rgb(24, 96, 251);
    outline-offset: 2px;
}

.content-render-img-myPublication .box-description-publication{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}

.content-render-img-myPublication .box-description-publication div{
    text-align: center;
}

.box-image-myPublication {
    display: flex;
    justify-content: center;
    
}

.box-name-product-myPublication{
    display: flex;
    justify-content: center;
    padding: 10px;
}



.content-render-offer-myPublication{
    width: 500px;
}

.content-render-offer-myPublication .box-offer{
    padding: 10px;
}

.content-render-offer-myPublication .box-offer div{
   text-align: center;
   width: 100%;
   padding: 10px;
}

.content-render-offer-myPublication .box-info-offer{
    /* background-color: aquamarine; */
}

.content-render-offer-myPublication .box-info-offer div{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.img-offer-detail{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}
.container-information-myPublication{
    padding: 10px;
    flex: 1;
    display: grid;
    grid-template-columns: auto auto auto;
    overflow-y: auto;
    column-gap: 10px;
    row-gap: 30px;
    justify-content: space-around;
    padding-top: 30px;
}
.container-all-info-myPublication{
    background-color:  rgb(24, 96, 251);
    width: max-content;
    padding: 20px;
    border-radius: 20px;
    transition: .3s ease;
    position: relative;
    height: max-content;
}

.container-all-info-myPublication:hover{
    transform: translateY(-2px);
}


.container-all-info-myPublication .card-offer-my-publication{
    text-align: center;
    padding: 10px;
}

.container-all-info-myPublication .card-offer-my-publication div{
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.card-offer-my-publication img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.card-offer-my-publication h2{
    color: #f5f5f5;
}

.card-offer-my-publication .accept-offer{
    color: rgb(3, 234, 3);
    cursor: pointer;
}



.card-offer-my-publication  .deny-offer{
    color: rgba(196, 7, 7);
    cursor: pointer;
}

.card-offer-my-publication  .counter-offer{
    color: rgb(187, 233, 3);
    cursor: pointer;
}


.flex-box-counter-offer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.card-counter-offer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.title-detail-counter-offer{
    text-align: center;
    padding-bottom: 20px;
}

.div-content-detail-counter-offer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    padding: 30px;
    background-color: aliceblue;
    border-radius: 5px;
    row-gap: 10px;
}

.div-content-detail-counter-offer div{
    text-align: center;
    max-width: 200px;
}

.div-counter-offer-icon{
    position: absolute;
    bottom: 10px;
    right: 8px;
}

.div-counter-offer-icon div{
    font-size: 25px;
}

.overlay-message-counter-offer{
    width: 100%;
    background-color: rgba(176, 173, 173, 0.581);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 200;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.div-content-counter-offer{
    position: relative;
    background-color: rgb(21, 188, 221);
    padding: 35px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.div-content-counter-offer > *{
    text-align: center
}

.div-content-counter-offer button{
    padding: 10px;
}

.div-content-counter-offer textarea{
    resize: none;
    border: 1px rgba(0, 123, 255, 0.733) solid;
    padding: 10px;
}


.div-content-counter-offer .close-counter-offer{
    position: absolute;
    top: 5px;
    right: 5px;
}

.div-content-counter-offer .close-counter-offer img{
    width: 20px;
}
@media (max-width:1280px) {
    .container-img-myPublication{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 30px;
    }
}


@media (max-width:1100px) {
    .container-all-info-myPublication .card-offer-my-publication{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
}

@media (max-width:830px){
    .container-information-myPublication{
        grid-template-columns: auto auto;
    }
}

@media (max-width:640px) {
    .content-render-img-myPublication{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        width: 350px;
        padding: 40px;
    }

    .content-render-offer-myPublication{
        flex-direction: column;
        width: 350px;
    }

    .box-info-offer{
        width: 100%;
    }

    .container-information-myPublication{
        grid-template-columns: auto;
    }
}

