.container-primary-offer{

    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    min-height: max-content;
}

.container-filter-offer{
    width: 20%;
    display: flex;
    flex-direction: column;
    height: max-content;
    padding: 10px;
    background-color: chocolate;
}

.container-filter-offer div{
    height: 10%;
    background-color: rgb(0, 255, 98);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: max-content;
}

.container-principal-list-offer{
    width: 100%;
}

.container-list-offer{
    padding: 10px;
    flex: 1;
    display: grid;
    grid-template-columns: auto auto auto;
    overflow-y: auto;
    column-gap: 10px;
    row-gap: 30px;
    justify-content: space-around;
}

.box-card-offer{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    max-width: 300px;
    border-radius: 5px;
    border: none;
    outline: none;
    height: max-content; */
    background-color: rgb(24, 96, 251);
    max-width: 300px;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #777;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: max-content;
   
}

.box-card-offer div{
    padding: 10px;
}

.status-my-offer{
    text-align: center;
    font-weight: bold;
}

.green-offer{
    color: rgb(11, 209, 4);
}

.blue-offer{
    color: blue;
}

.red-offer{
    color: rgba(255, 0, 0, 0.805);
}

.box-inner{
    display: flex;
    justify-content: center;
}

.box-inner img{
    width: 250px;
    height: 250px;
}

.container-counter-offer{
    background-color: rgb(12, 38, 204);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 5px;
    max-width: 90%;
    margin: auto;
}

.div-btn-counterOffer-select{
    display: flex;
}

.div-btn-counterOffer-select div{
    flex: 1;
    text-align: center;
    
}

.div-btn-counterOffer-select div button{
    background-color:rgb(12, 38, 204);
    border-radius: 5px;
    outline: none;
    border: 2px solid rgb(24, 96, 251);
    color: #fff;
    font-size: 1.2em;
    padding: 10px 15px;
    box-sizing: border-box;
}

.div-btn-counterOffer-select div button:hover{
    cursor: pointer;
    outline: #fff solid 1px;

}

.counter-offer-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    color: #222;
}

@media (max-width:1200px) {
    .container-list-offer{
        display: grid;
        grid-template-columns: auto auto;
    }
}


@media (max-width:640px) {
    .container-list-offer{
        display: grid;
        grid-template-columns: auto;
    }
}


